.mainForm {
    margin: auto;
    margin-top: 200px;
    width: 28%;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.formHeader {
    height: 25px;
    border-bottom: solid;
    border-width: 1px;
}

.formHeaderLegend {
    margin-left: 5%;
}

.form {
    width: 65%;
    margin: auto;
}

.label {
    width: 20%;
}

.value {
    width: 80%;
}

.textbox {
    height: 25px;
    border-radius: 5px;
}

.submitRow {
    text-align: center;
}

.btnSubmit {
    border-radius: 5px;
}

.lblDropdown {
    margin: 0;
    margin-right: .5%;
    padding: 0;
    display: inline;
}

.dropdown {
    border-radius: 5px;
}

.menu {
    height: 40px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 1%;
}

.menuBox {
    width: 5%;
    height: 40px;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    float: left;
    text-align: center;
    cursor: pointer;
}

.lblMenuBox {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}