.gameRow > p {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 15px;
    padding: 0;
    display: inline-block;
    width: 20%;
}

#at {
    margin-left: 5%;
    margin-right: 5%;
    width: 2%;
}

.tbResult {
    width: 5%;
    text-align: right;
}